<!-- LOGOTIPO -->
<app-banner image="../../../assets/logo_principal.png" text = "LOGOTIPO"></app-banner>

<h1>ÍCONES</h1>
<div class="icons_white">
  <div class="color1"> <app-icon-white image = "../../../assets/icon_white.png"></app-icon-white> </div>
  <div class="color2"> <app-icon-white image = "../../../assets/icon_white.png"></app-icon-white> </div>
  <div class="color3"> <app-icon-white image = "../../../assets/icon_white.png"></app-icon-white> </div>
</div>

<h1> PALETA / FONTE DE APOIO </h1>
<app-paleta-font></app-paleta-font>
<app-pattern></app-pattern>

<h1>LOGOTIPOS ALTERNATIVOS</h1>
<div class="icons_white">
  <div class="color1"> <app-icon-white image = "../../../assets/logo1.png"></app-icon-white> </div>
  <div class="color2"> <app-icon-white image = "../../../assets/logo2.png"></app-icon-white> </div>
  <div class="color3"> <app-icon-white image = "../../../assets/logo3.png"></app-icon-white> </div>
</div>

<!-- Banner Item -->
<app-item image="../../../assets/item.png"></app-item>
